{% extends "base.html" %}

{% block title %}
{{ section.title }}
{% endblock %}

{% block content %}
<div class="content">

	<h2 class="title">
	  {{ section.title }}
	</h2>

	{% for page in section.pages %}
	<input type="checkbox" id="gallery-{{ loop.index }}" class="gallery-checkbox">
	<label class="gallery-dropdown" for="gallery-{{ loop.index }}">
		&nbsp;&nbsp;{{ page.title }} - <small><small>{{ page.description }}</small></small>
	</label>
	<div class="gallery">
		{{ page.content | safe }}
	</div>
	<br>
	{% endfor %}

</div>
{% endblock content %}
