{% extends "base.html" %}

{% block title %}
Sinan Kurtulmuş
{% endblock %}

{% block content %}
	<div class="content">

		<div class="typewriter">
		<h2>:%s/\s\+$//g</h2>
		</div>

		<hr>

		<div class="split">

			<div class="split-1">

				<p>
					My name is Sinan Kurtulmuş.
					Welcome to my personal Web page, and thank you for visiting.
					Here I share my ramblings on a range of topics I find to be worthy of discussion, and documentation regarding a variety of open-source programs and services on different operating systems, as well as some original photography (and potentially other projects).
				</p>

				<p>
					I like reading manuals. I often feel nostalgic.
				</p>

				<div class="text_img"><img src="/assets/images/default/magi.png"></div>

		</div>

			<div class="split-2">
				<img src="/assets/images/default/char.jpg">
			</div>

		</div>

	</div>
{% endblock content %}
